extends layout
block content
    h1 Datasource - MKey 2 API
    p SDD datasource manager:
          al
              li
                  a(href="datasource/registry") Registry (Params: SDD-URL)
              li
                  a(href="datasource/remove") Remove (Params: DS-ID)
              li
                  a(href="datasource/update") Update (Params: SDD-URL, DS-ID)
              li
                  a(href="datasource/") ...
          al

        p CRUD registration of CSV datasource:
            al
                li
                    a(href="datasource/") ...
            al

