extends layout
block content
    h1 Identification - MKey 2 API
    p Interactive identification:
          al
              li
                  a(href="identification/identify") Identify (Param: DS-ID, SELECTED-DESCRIPTORS)
          al

