extends layout
block content
    h1 MKey 2 API
    p MKey services:
        al
            li
                a(href="api/datasource") Manager Datasources
            li
                a(href="api/identification") Interactive Identification
        al
